{{template "base" .}} {{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>This is the About page</h1>
      <p>This a paragraph of page</p>
      <h2 style="color: red">This came the template: {{index .StringMap "test"}}</h2>
      <h3>
        {{if ne (index .StringMap "remote_ip") ""}} Your remote IP address is {{index .StringMap "remote_ip"}} {{else}}
        I don't know ip address yet. Visit the <a href="/">Home page</a> so I can set it. {{end}}
      </h3>
    </div>
  </div>
</div>
{{end}}
