* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.my-footer {
  height: 5em;
  background-color: #163b65;
  margin-top: 1.5em;
  padding: 1em 0;
  color: #fff;
  font-size: 80%;
  overflow-x: hidden;
}

.room-image {
  max-width: 50%;
}

.notie-container {
  box-shadow: none;
}

.datepicker.active{
  z-index: 999;
  display: contents;
}

.redText {
  color: red;
}
